* {
    
    margin: 0;
    padding: 0;
}
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    color: white;
    background: #2974bb;
    font-size: xx-large;
    text-align: center;
}
.table>tbody>tr.active>td, {
    background-color: #e5e6e6;
}
.color_wrapper {
    background: #d1d2d4;
    color: #2974bb;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}
.color_wrapper_two {
    background: #eef0f0;
    color: #2974bb;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}
.request {
        background: #EEF0F0;
}
.search {
    
}
.search img {
        width: 4%;
    /* height: 57%; */
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 3%;
}
.glyphicon-triangle-bottom:before {
    content: "\e252";
    font-size: -webkit-xxx-large;
    
}
.glyphicon-triangle-top:before {
    content: "\e253";
    font-size: -webkit-xxx-large;
}