body{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: calibri;
    src: url(calibri.tff);
}

input[type=text]{
                color:#2974BB !important;
                font-weight: 600 !important;
                font-size: 18px !important;
                font-family: calibri !important ;
                border: 0px;
                border-radius:8px;
                }

input[type=email]{
                color:#2974BB !important;
                font-weight: 600 !important;
                font-size: 18px !important;
                font-family: calibri !important ;
                border: 0px;
                 border-radius:8px;
                }

input[type=password]{
                color:#2974BB !important;
                font-weight: 600 !important;
                font-size: 18px !important;
                font-family: calibri !important ;
                border: 0px;
                border-radius:8px;
                }

 ::-webkit-input-placeholder {text-align: left;
                             color:    #2974BB !important;
                             padding-left: 50px;
                             font-size: 15px !important
                             font-family: calibri !important ;
                             opacity:  1;
                             border-radius:8px;
    }

.pso_information{
                font-family: calibri;
                color: #808285;
                border: 3px solid  #808285;
                float: left;
                margin-left: 39%;
                padding: 0px 55px 12px 55px;
                text-align: center;
                margin-top: 50px;
               }

.pso_information > h2{
                      line-height: 0px;
                      text-align: center;
                     }

img.pso_information_logo.pull-left {
    width: 40px;
    height: 40px;
    margin-left: 27%;
    margin-top: 56px;
    
}

.personal_information_wrapper {
                                background-color: #EEF0F0;
                                margin-left: 4%;
                                margin-top: 30px;
                                height: auto;
                                padding: 50px 5% 50px 2%;
                               }

.personal_information_img{
                         width: 50px;
                         margin-right: 5%;
                        }

h3.personal_information_heading {
                                  line-height: 11px;
                                  color: #3374BA;
                                  font-family: calibri;
                                  font-weight: 600;
    
                                 }

.personal_information_p > p{
                                  line-height: 35px;
                                  color: #3374BA;
                                  font-size: 18px;
                                  font-family: calibri !important;
                                  font-weight: 600;
                           }

.personal_information_1{margin-bottom: 60px}

.col-xs-4.col-xs-offset-2.profile_pic_grey {
    padding-left: 15%;
    padding-top: 50px;
}

img.profile_pic_grey_img {
    width: 150px;
}

.work_information_wrapper {
                                background-color: #EEF0F0;
                                margin-left: 4%;
                                margin-top: 30px;
                                margin-bottom: 50px;
                                height: auto;
                                padding: 50px 3% 50px 3%;
                               }

.work_information_img{
                         width: 50px;
                         margin-right: 5%;
                        }

.work_information_heading{
                                  line-height: 11px;
                                  color: #3374BA;
                                  font-family: calibri;
                                  font-weight: 600;
                         }

.work_information_p > p{
                                  line-height: 35px;
                                  color: #3374BA;
                                  font-size: 18px;
                                  font-family: calibri !important;
                                  font-weight: 600;
                           }

.work_information_1{margin-bottom: 60px}

.copy-right{
        
           }

.copy-right > h4{
                 color:#2974BB !important;
                text-align: center;
                font-weight: 600 !important;
                font-size: 18px !important;
                font-family: calibri !important ;
                }