body{
    
    background: #DADAE2;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: calibri;
    src: url(calibri.tff);
}

.reneta_logo{
    width: 150px;
    height: 150px;
    margin-top: 45px;
    margin-bottom: 25px;
}
.form_content {
    background-color: #57585A;
    height: auto;
    width: 63%;
    border-radius: 25px;
    padding-top: 32px;
    margin-bottom: 115px;
    color: white;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
    .form_content{width:280px}
}

.form_content > h1{
    text-align: center;
    line-height: 20px;
    font-size: x-large;
}

.form_content > p{font-size: 15px;
                  margin-top: 50px;
                  text-align: center;}

button.btn.btn-primary.login_btn {
        margin-top: 35px;
    background-color: white;
    margin-left: 28%;
    color: #337ab7;
    width: 44%;
    font-weight: 600;
    font-size: 21px;
    padding: 7px;
    border-radius: 12px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
button.btn.btn-primary.login_btn:hover{
    background-color: #0C529E;
    color: white;
    transition-duration: 0.5s;   
}
a.forgot_password.center-block {
    margin-left: 34%;
}
.right_reserved{color:#0C529E;
                clear: both;
}
.right_reserved > p{
    text-align: center;
    font-weight: 600;
}