.modal-body{
                background-color: #2974BB;
                height: 300px;
                padding: 30px;
                line-height: 30px;
                font-size: 17px;
                color: #ffffff;
                font-weight: 700;
                font-family: calibri;
                 
                 
           }

.modal-title{
                  font-weight: 700;
                  margin-left: 41%;
                  font-family: calibri;
                  color: #606160;
            }

.modal-dialog {
    width: 780px;
}

.modal-content {
    width: 780px;
}

input[type=text] {
    color: #2974BB;
    font-weight: 700;
    border-radius: 9px;
    padding: 20px;
    font-size: 17px;
    font-family: calibri;
}

input[type="text"].form-control::-webkit-input-placeholder {
  color: #2974BB;
  font-weight: 700;
  font-size: 17px;
  font-family: calibri;
}

.col-sm-6.a {
    margin-left: -16px;
    margin-right: 16px;
}

.col-sm-6.b {
    padding-right: 0px;
}

.col-sm-6.answer {
    margin-left: 28%;
        margin-top: 15px;

}

select#sel1 {
    border-radius: 9px;
    height: 40px;
    padding: 8px 15px;
    color: #2974BB;
    font-weight: 700;
    font-family: calibri;
    font-size: 18px;
}

option {
    color: #2974BB;
}

button.btn.btn-default.go {
  color: #2974BB;
  font-size: 17px;
  font-weight: 700;
}
button.btn.btn-default.go:hover {
  background-color: #e6e6e6 !important;
  border-color: #adadad;
}


.col-sm-8.test_id {
    margin-left: 17%;
    margin-bottom: 10px;
}