@font-face{
    font-family: calibri;
    src: url(../fonts/calibri.ttf);
}



.modal-body{
                background-color: #2974BB;
                height: 220px;
                padding: 30px 8%;
                line-height: 30px;
                font-size: 17px;
                color: #ffffff;
                font-weight: 700;
                font-family: calibri;
                 
                 
           }

.modal-title{
              font-weight: 700;
              font-family: calibri;
              color: #606160;
            }

.assign_to{
            margin-top: 30px;    
          }
.assign_to_label{
                       margin-left: 30%;
                       margin-bottom: 10px;
    
}

.test_id p {
  color: #ffffff !important;
}

.people_modal_btn {
  background-color: transparent;
  border: none;
  width: auto;
  padding: 0;
}

.people_modal_btn:hover {
  background-color: transparent !important;
  border: none;
  width: auto;
  padding: 0;
}
button.btn.btn-default.go {
  color: #2974BB;
  font-size: 17px;
  font-weight: 700;
}
button.btn.btn-default.go:hover {
  background-color: #e6e6e6 !important;
  border-color: #adadad;
}