@font-face{
    font-family: calibri;
    src: url(../fonts/calibri.ttf);
}
@font-face{
    font-family: calibrib;
    src: url(../fonts/calibrib.ttf);
}
a,p,h1,h2,h3,h4,h5,h6,b,
strong,i,span,table,thead,
tbody,tr,th,td,select,option{
    font-family: calibrib;
}
.full_width{
    width: 100%;
}
#full_width{
    width: 100%;
}
.left-col{
    background-color: #2874ba;
    height: 100%;
    width: 227.66px;
    padding: 0;
    position: fixed;
    display: inline-block;
    z-index: 1;
    overflow-y: scroll;
}
.left-col::-webkit-scrollbar {
    width: 0;
    -moz-appearance: none !important;
}
 
.left-col::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
 
.left-col::-webkit-scrollbar-thumb {
  background-color: transparent;
  -moz-appearance: none !important;
  outline: 1px solid transparent;
}
/*
@-moz-document url-prefix(http://),url-prefix(https://) {
scrollbar {
   -moz-appearance: none !important;
   background: rgb(0,255,0) !important;
}
thumb,scrollbarbutton {
   -moz-appearance: none !important;
   background-color: rgb(0,0,255) !important;
}

thumb:hover,scrollbarbutton:hover {
   -moz-appearance: none !important;
   background-color: rgb(255,0,0) !important;
}

scrollbarbutton {
   display: none !important;
}

scrollbar[orient="vertical"] {
  min-width: 5px !important;
}
}*/

.profile{
    width: 100%;
    /*height: 40%;*/
    margin-top: 50px;
}
img.main-logo,.small-logo{
    width: 85px;
}
hr.big_one{
    width: 165px;
    border-top: 2px solid #eee;
    margin-bottom: 5px !important;
}
hr.small_one{
    border-top: 2px solid #eee;
    width: 85px;
    margin-top: 10px !important;
}
/*Start of app dashboard*/
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
ul.nav.navbar-nav li{
    width: 100%;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.nav>li:focus, .nav>li:hover {
    text-decoration: none;
    background-color: #a2a2b8;
}
img.app_icons{
    width: 35px;
    float: left;
    margin-right: 15px;
}
p.app-text{
    color: #fff !important;
    font-family: calibri;
    font-size: 20px;
    font-weight: 600;
}
.signup ul.dropdown-menu{
    left: -98px;
}
.app_dashboard.nav.navbar-nav>li>a {
    color: #fff !important;
}
li{
    list-style-type: none;
}
.app_small_text{
    text-decoration: none;
    color: #fff !important;
    margin-left: -6px;
}
.app_dashboard ul.nav.navbar-nav ul.collapse{
    border-left: 2px solid #fff;
    padding: 0px;
    margin-left: 35px;
    /*height: 45px;*/
}
span.glyphicon.glyphicon-certificate {
    font-size: 10px;
}
li.appp {
    margin: 0 0 10px 0;
}
li.appp:hover {
    background: transparent;
}
.ungroup:hover { background: #a2a2b8 !important;}
.inner-appp:hover, .inner-appp:active{
    background: #a2a2b8;
}
.inner-appp>a{
    text-decoration: none;
}
/*End of app dashboard*/

.right-col{
    margin-left: 227.66px;
    padding: 0px;
}
.signup-bar{
    background-color: #a2a2b8;
    min-height: 50px;
}
.signup {
    padding: 8px 20px 8px 0;
    margin-right: 5px;
}
.signup button{
    padding: 0px 5px;
    margin: 5px 0 0 0;
    background-color: #3374BA;
}
img.signup_img{
    width: 33px;
    margin-right: 10px;
}
.banner-wrapper{
    background-color: #2874ba;
    min-height: 127px;
}
.banner{
    padding: 15px;
}
.banner:before{
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-right: 2px solid #fff;
    margin-top: 10px;
}
.banner:nth-last-child(4):before {
    position: absolute;
    left: 0;
    height: 0;
    border-right: 0 solid #fff;
    margin-top: 10px;
}
img.banner-icon-img {
    height: 50px;
    padding-bottom: 5px;
}
.banner-text{
    color: #fff !important;
    margin: 0;
    font-family: calibrib;
}
p.banner-text{
    color: #fff !important;
    font-weight: 600;
    font-size: 15px;
}

/*start of toggle button*/
button.navbar-toggle.collapsed span.icon-bar {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
button:hover {
    background-color: #286090 !important;
}
button.navbar-toggle.collapsed, .navbar-toggle {
    float: left;
    margin-left: 13px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////// Start of  HOME PAGE ////////////////////////////////////////////*/
.back-border{
    border: 3px solid #eff0f0;
    margin-top: 25px;
}
.back-similar{
    color: white;
    padding: 5px 15px;
    background-color: #2874ba;
    border-radius: 5px;
    text-align: center;
}
table.home-table tr{
    background: #a2a2b8;
    border-bottom: 10px solid white;
    color: #fff;
    height: 60px;
    font-size: 17px;
}
table.home-table tr td{
    padding-left: 30px;
    width: 33.33333333333333%;
}
table.home-table tr td:last-child{
    padding-right: 30px;
}
button.btn.btn-info{
    background-color: #2874ba !important;
    width: 110px;
    padding: 4px;
    border: none;
}
button.btn.btn-info:hover{
    background-color: #286090 !important;
}
a.back-link{
    margin-top: 5px;
    font-size: 15px;
}
.back-carousel{ margin-top: 20px; }
/*////////////////////////////////////////////// end of  HOME PAGE //////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////// Start of  TEST PAGE ////////////////////////////////////////////*/

.form_type_wrapper {
    background-color: #EDEDED;
}

.form_type{
    min-height: 750px;
    height: 750px;
}
.drag_type{
    background-color: #EDEDED;
    margin-top: 20px;
    height: 300px;
}
.container_wrapper{
    margin: 30px 15px 30px 15px;
}
h3.header_wrapper.center-block.text-center {
    border: 2px solid #656565;
    width: 165px;
    font-weight: 600;
    margin: 20px auto 50px auto;
    padding: 3px 0;
    color: #656565;
}
span.input-group-addon {
    border: 0px;
}
.form_type .form-group {
    margin: 15px 0;
}
.form-group.col-md-4 {
    margin: 10px 0 0 0;
}
button#singlebutton{
    color: white;
    padding: 2% 6%;
    background-color: #2974BB;
    font-size: 18px !important;
    font-family: calibrib !important;
    border: none;
    border-radius: 0px;
    float: right;
    clear: both;
}
.input-group-addon{
    border-radius: 10px !important;
}

/* -----table work-----*/
input[type=text], p {
    color: #2974BB !important;
    font-weight: 600 !important;
    border: none !important;
    border-radius: 10px;
}
input#prependedcheckbox {
    border-radius: 10px;
}
thead {
    border: 0px;
    border-radius: 10px;
}
select.form-control {
    border: 0;
    border-radius: 10px;
}
hr.custom_hr {
}
    border-top: 2px solid #2974BB;
.input-group{width: 100%;}

.first_one_test {
    width: 45%;
    margin: 0 auto;
    padding-top: 1%;
}
.last_one_test {
    width: 100%;
    height: 100% !important;
    background-color: #EDEDED;
}

.first_one {
    width: 49%;
    margin-right: 1%;
}
.last_one {
    width: 50%;
}

.last_one_wrapper {
    margin: 30px 15px;
}
/*table.table {
    float: right !important;
    clear: both !important;
}*/
table.table tbody tr td {
    width: 33.33333333333333%;
}
.form_type thead {
    background-color: #fff;
}
.form_type .table>thead>tr>th {
    border-bottom: 0px solid #ddd;
}
.form_type .table>tbody>tr>td,
 .table>tbody>tr>th, .table>tfoot>tr>td,
  .table>tfoot>tr>th, .table>thead>tr>td,
   .table>thead>tr>th{
    border-top: 0px solid #ddd; 
    /*border-right: 3px solid #fff;*/
}
.form_type .table>tbody>tr>td:last-child{   
    border-right: 0px solid #fff;
}
span.input-group-addon {
    border: 0px;
}
tr>th>p{
    font-size: 16px;
    padding-top: 15px;
    padding-right: 5px;
}
.form_type .form-group {
    margin-bottom: 15px;
}
img.table_insider_img {
    height: 20px;
}
span.table_insided_line {
    color: #2874ba;
    font-size: 15px;
    padding: 0 2px;

    font-weight: 900;
}
table a:hover{
    text-decoration: none;
}
.bigger_spacer{ border-bottom: 50px solid transparent;}
.big_spacer{border-bottom: 10px solid #fff;}
.small_spacer:not(:last-child){border-bottom: 5px solid #fff;}

table.manage-section tbody tr td{
    width: auto;
}
/* -----table work-----*/

.with-scroll {
    overflow-y: scroll;
    height: 500px;
}
.with-scroll::-webkit-scrollbar {
    width: 8px;
}
 
.with-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
}
 
.with-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8B8B8B;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
/*DRAG & DROP SECTION*/
.drag-section{
    border: 4px dotted #000000;
    margin-top: 20px;
    border-radius: 15px;
    padding: 15px 0 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drag-section>button{
    background: transparent;
    border: none;
}
.drag-section>button:hover{
    background-color: rgba(0,0,0,0.15) !important;
    padding-left: 0px;
    padding-right: 0px;
}
.drag-section img{
    width: 80px;
    /*padding: 25px 0 5px 0;*/
}
button.drag-button{
    margin-top: 30%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////// end of  TEST PAGE /////////////////////////////////////////////////*/

.table.table_test>thead:first-child>tr:first-child>th {
    border-top: 0;
    border-top: 0;
    color: #656565;
    background: #fff;
    text-align: center;
    font-size: 17px;
}

.table.table_test tbody tr {
    text-align: center;
    background: #fff;
    border-bottom: 10px solid #EDEDED;
    color: #3374BA;
}
.table.table_test tbody tr td {
    border-top: 10px solid #ededed;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////// Start of  Result PAGE /////////////////////////////////////////////*/
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    color: white;
    background: #2974bb;
    text-align: center;
}
.table>tbody>tr.active>td, {
    background-color: #e5e6e6;
}
table.table.result tbody tr td {
    width: auto;
}
table.table.result tbody tr td i.fa {
    margin: 0 2px;
}
.color_wrapper {
    background: #d1d2d4 !important;
    color: #2974bb;
    font-weight: bold;
    text-align: center;
}
.color_wrapper_two {
    background: #eef0f0 !important;
    color: #2974bb;
    font-weight: bold;
    text-align: center;
}
span.table_insider{
    color: #fff;
}
.search img {
    width: 30px;
    margin-bottom: 15px;
    margin-right: 1.5%;
    float: right;
}
.search_one img {
    margin-top: 3%;
    margin-left: 45%;
}
.color_wrapper_two img {
    margin-left: auto;
    width: 20px;
}
.color_wrapper img {
    margin-left: auto;
    width: 20px;
}
.request {
    margin-top: 50px;
}
.top_with_icon {
    position: relative;
}
.top_with_icon img{
    width: 50px;
    top: 1.5%;
    left: 94%;
}

/*/////////////////////////////////////////////////// end of  Result PAGE //////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////// Start of  Track PAGE /////////////////////////////////////////////////*/
.track_section>.request{
    margin-top: 62px;
}
.track_section>.request{
    background-color: #EDEDED;
}
.track_section>.request>.search>a>img {
    width: 30px;
    margin-top: 1.5%;
    margin-bottom: 15px;
    margin-left: 1.5%;
    float: left !important;
}
button.up-n-down{
    margin-right: 1.5%;
    margin-left: 1.5%;
    color: #2974bb;
}
/*///////////////////////////////////////////////////// end of  Track PAGE ////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.first_one_med h3, .last_one_med h3, .last_med_head h3{
    width: 300px !important;
    border: 3px solid #656565 !important;
}
.med_sec.form-group.container button{
    float: none;
    margin-right: 50%;
    margin-left: 50%;
}
button#med-button{
    color: white;
    padding: 1.5% 6%;
    background-color: #2974BB;
    font-size: 18px !important;
    font-family: calibrib !important;
    border: none;
    border-radius: 0px;
}
button.upload-one {
    width: 100%;
    position: relative;
    background: #fff;
    border: none;
    min-height: 92px;
    height: 100%;
    border-radius: 10px;
    margin: 10px 0;
}
button.upload-one:hover {
    background: #fff !important;
}
form.medicine_submit>fieldset.drag-section>button{
    min-height: 200px !important;
    position: relative;
}
form.medicine_submit>fieldset.drag-section:hover{
    background-color: rgba(0,0,0,0.15) !important;
}
.upload-one li{
    color: #2974bb;
}
.upload-one h5{
    color: #2974bb;
    position: absolute;
    top: 0px;
    left: 44%;
}
button#button-in {
    color: white;
    padding: 0% 6%;
    background-color: #2974BB;
    font-size: 18px !important;
    font-family: calibrib !important;
    border: none;
    width: 100px;
    margin: 0 0 5px 0;
    border-radius: 0px;
}
.two-buttons{
    position: absolute;
    left: 37%;
}
.med_form_type{
    background-color: #EDEDED;
    margin-top: 20px;
    min-height: 550px;
    height: 730px;
}
.last_med_head>button.up-n-down {
    margin-top: 1.5%;
}
.last_med_head{ height: 370px; }
.med_scroll_table{ height: 204px; overflow-y: scroll; }
.scroll_insider{height: 600px;}
.med_scroll_table::-webkit-scrollbar {
    width: 10px;
} 
.med_scroll_table::-webkit-scrollbar-track {
    background: #fff; 
    border-radius: 10px;
} 
.med_scroll_table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);

}
.cloud-up{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.med_sec {
    padding: 0 30px;
}*/
.text-height, .cloud-up{ height: 6em; }
.text-height::-webkit-input-placeholder {
   color: #3374BA;
   padding: 15px;
}
.text-height:-moz-placeholder { /* Firefox 18- */
   color: #3374BA;
   padding: 15px;  
}
.text-height::-moz-placeholder {  /* Firefox 19+ */
   color: #3374BA;
   padding: 15px;  
}
.text-height:-ms-input-placeholder {  
   color: #3374BA;
   padding: 15px;  
}
tr.med_spacer>td{ padding: 0; font-size: 16px; }
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
textarea.form-control{
    border: none;
}
textarea.form-control::-webkit-input-placeholder {
   color: #3374BA;
}
textarea.form-control:-moz-placeholder { /* Firefox 18- */
   color: #3374BA;
}
textarea.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #3374BA;
}
textarea.form-control:-ms-input-placeholder {  
   color: #3374BA;
}

/* ////start of media queries ////*/
@media screen and (max-width: 991px){
    .first_one {width: 100%;margin-right: 0;}
    .last_one {width: 100%;margin-left: 0;}
    .form_type{height: 850px;}
    .med_form_type{height: 850px;}
    .drag_type{height: 360px;}
    .first_one_med{width: 100%; margin-right: 0}
    .last_one_med{width: 100%; margin-left: 0}
}
@media screen and (min-width: 768px) {
    img.small-logo{display: none;}
    .profile-insider{ display: none; }
    .navbar.small_nav{ display: none; }
}

@media screen and (max-width: 767px){
    .left-col{ display: none;}
    .right-col {margin-left: 0; padding: 0px;}
    .profile-insider { height: 40%; margin-top: 0; padding-top: 10px; position: relative; top: -72px; width: 100px;}
    .nav.navbar-nav{}
    img.main-logo{ display: none;}
    img.small-logo{ width: 50px; }
    hr.big_one{ width: 60px; margin-top: 10px !important; }
    hr.small_one{ display: none;}
    p.banner-text{font-size: 10px;}
    h3.banner-text{font-size: 15px;}
    .banner.col-md-3.col-sm-3.col-xm-3 {
    width: 25%; float: left; position: relative; top: -73px;}
    img.banner-icon-img {height: 25px;}
    .banner-wrapper { min-height: 162px;}
    .signup-bar{ display: none;}
    .banner:before{ display: none; }
    .signup{ height: 50px; display: inline-table; margin-left: 15px;}
    .container_wrapper {margin-right: 10px;margin-left: 10px;}
}

@media screen and (max-width: 480px){ /*-----mobile-----*/
    .left-col{ display: none;}
    .right-col {margin-left: 0px; padding: 0px;}
    .banner-wrapper{ min-height: 140px;}
    .profile { height: 40%; margin-top: 15px;}
    img.main-logo{ display: none;}
    img.small-logo{ width: 35px; }
    hr.big_one{ width: 50px; margin: 9px auto 4px auto !important;}
    img.banner-icon-img {height: 20px;}
}

/*medicine literature upload buttons*/

label.myLabel input[type="file"] {
    position: fixed;
    display: none;
    top: -100px;
}


/*create test upload buttons*/

label#mylabel_1 {
    padding-left: 25%;
    padding-right: 30%;
}

/*create test >>color change >> option for pso group and pso*/

select#selectbasic {
    color: #3374BA !important;
}




.test_no > h1 {
    background-color: #808285;
    border-radius: 50px;
    line-height: 50px;
    color: white;
}

/*medicine literature text area*/

textarea#point1 {
    border: none;
}

textarea#point2{
    border: none;
}

textarea#point3 {
    border: none;
}

::-webkit-textarea-placeholder
{
     text-align: center !important;
    color: #3374BA !important;
}

textarea{
         border-radius: 10px !important;
         color:    #2974BB !important;
         font-size: 15px !important;
         font-family: calibrib !important;
         border: none !important;
        }

/*medicine literature upload_img*/

.col-md-12.upload_img {
    height: 150px;
    margin-top: 20px;
    padding: 3%;
}

.upload_img_cloud {
    border: 4px dotted #000000;
    border-radius: 15px;
    padding: 15px 0 0 0;
}

.upload_img_cloud img {
    width: 82px;
}

img.img-responsive.upload_img_cloud {
    width: 260px;
    margin-top: 10px;
}

.upload_img_p {
    height: 115px;
    background-color: white;
    border-radius: 9px;
}

img.btn_action_img {
    width: 10px;
}

button.btn_action
{
   background-color: transparent;
    border: none;
}

button.btn_action:hover
{
     background-color: transparent !important;
}

/*PIE CHART*/
.chart_wrapper {
    background-color: #EDEDED;
    padding-top: 3%;
    padding-bottom: 3%;
}

.pie_chart_wapper {
    background-color: #fff;
    border-left: 15px solid #EDEDED;
    border-right: 1px solid #EDEDED;
}

.pie_chart_wapper2 {
    background-color: #fff;
    border-left: 1px solid #EDEDED;
    border-right: 15px solid #EDEDED;
}

.pie_chart {
    width: 360px;
    margin: 0 auto;
        padding: 20px 0 20px 0;
}

/*    ///////////////////////////////////////////////////result-info page///////////////////////////////////////////////////    */
.same_info {
    border-radius: 15px;
    background-color: #EDEDED;
    margin-bottom: 1%;
    height: 100%;
    padding-bottom: 10px;
}

.same_info_header {
    color: #656565;
    text-align: center;
    margin: 20px 0 30px 0;
}

.first_info {
    width: 49.5%;
    margin-right: 0.5%;
}

.last_info {
    width: 49.5%;
    margin-left: 0.5%;
}

.same_info_boxes {
    background-color: #fff;
    border-radius: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.same_info_insider {
    width: 20%;
    float: left;
    clear: right;
}

/*    ///////////////////////////////////////////////////maxpro test page///////////////////////////////////////////////////    */
.back_max {
    background-color: #EDEDED;
}

.max_same_info {
    border-radius: 15px;
    background-color: #ffffff;
    margin-bottom: 1%;
    height: 100%;
    padding-bottom: 10px;
}

.edit_size {
    width: 28px !important;
}

.right_btn_wrap {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 173px;
}

.right_btn {
    position: absolute;
    bottom: 0;
    color: #3374BA;
    font-family: calibrib;
    background-color: #ffffff;
    border: 2px solid #B2B2B2;
    border-radius: 5px;
}
.right_btn:hover {
    color: #ffffff !important;
    border: 2px solid #B2B2B2;
    border-radius: 5px;
}

.max_under {
    padding-top: 10px;
}

.no_back_btn {
    background: transparent;
    border: none; 
}
.no_back_btn:hover {
    background: transparent !important;
    border: none; 
}